.footer {
    background: #000;
    color: #fff;
    height: 48px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4px;
}
.footer > .title {
    margin-left: 10px;
    padding-right: 20px;
    padding-bottom: 5px;
}
span {
    margin-right: 2px;
}