@import '../vars.scss';

.header {
    background: var(--workspace-background);
    height: 80px;
    padding-left: 16px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.sygnet {
    margin-right: 10px;
}

.title {
    padding-top: 18px;
    color: var(--primary-color);
    margin: 0;
}